---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.astro";
import Application from "@components/Application.astro";

// Imports apps data
import apps from "@data/apps.json";
---

<Layout>
  <Section
    class="flex-grow"
    title="Installed applications"
    description="The applications running on your server."
  >
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-8">
      {
        apps.map((app) => (
          <Application
            title={app.title}
            description={app.description}
            icon={app.icon}
            tags={app.tags}
            url={app.url}
          />
        ))
      }
    </div>
  </Section>
</Layout>
